@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-aZiaPeInUVtX: 16px;
  --plasmic-token-h-2: var(--token-aZiaPeInUVtX);
  --token-K2STuEDCkHLn: #2a2b37;
  --plasmic-token-neutral-900: var(--token-K2STuEDCkHLn);
  --token-ratMQeVaAmtW: #383848;
  --plasmic-token-neutral-800: var(--token-ratMQeVaAmtW);
  --token-ZrdRXAdPtUjb: #48485c;
  --plasmic-token-neutral-700: var(--token-ZrdRXAdPtUjb);
  --token-Gq9DNsnKPFmv: #5c5d76;
  --plasmic-token-neutral-600: var(--token-Gq9DNsnKPFmv);
  --token-_eh8HgTXmZrE: #656682;
  --plasmic-token-neutral-500: var(--token-_eh8HgTXmZrE);
  --token-sjJImcUe2bo6: #84859b;
  --plasmic-token-neutral-400: var(--token-sjJImcUe2bo6);
  --token-DS13wCBZGUhz: #9898ab;
  --plasmic-token-neutral-300: var(--token-DS13wCBZGUhz);
  --token-mLIFDbfZfpEy: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-mLIFDbfZfpEy);
  --token-CwSZ1Pg6JgMY: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-CwSZ1Pg6JgMY);
  --token-mVNWfJwchaMW: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-mVNWfJwchaMW);
  --token-yhjQqAd2glDv: 14px;
  --plasmic-token-body-small: var(--token-yhjQqAd2glDv);
  --token-DZTPCnTgxOAe: 20px;
  --plasmic-token-body-small-2: var(--token-DZTPCnTgxOAe);
  --token-r-Zj521Y6V7Z: #01471e;
  --plasmic-token-success-text: var(--token-r-Zj521Y6V7Z);
  --token-5CvMLFCPrr8-: #dffbea;
  --plasmic-token-success-bg: var(--token-5CvMLFCPrr8-);
  --token-zvG8_q4-4_j9: #aff5cb;
  --plasmic-token-success-200: var(--token-zvG8_q4-4_j9);
  --token-4SLWJooTGeD6: #87efb1;
  --plasmic-token-success-300: var(--token-4SLWJooTGeD6);
  --token-EMp75yVayhuh: #5fea97;
  --plasmic-token-success-400: var(--token-EMp75yVayhuh);
  --token-ko6dU4hcZywV: #37e57d;
  --plasmic-token-success-500: var(--token-ko6dU4hcZywV);
  --token-JeVwWfqzXJfU: #24bf63;
  --plasmic-token-success-600: var(--token-JeVwWfqzXJfU);
  --token-Tgtkz1gcgwSa: #159649;
  --plasmic-token-success-700: var(--token-Tgtkz1gcgwSa);
  --token-srDbx4Zju3SW: #096e32;
  --plasmic-token-success-800: var(--token-srDbx4Zju3SW);
  --token-6Ei3maDJddiO: #d7faf8;
  --plasmic-token-secondary-100: var(--token-6Ei3maDJddiO);
  --token-M1gd6dE3mzAf: #aff5f0;
  --plasmic-token-secondary-200: var(--token-M1gd6dE3mzAf);
  --token-RGhlUxqGtS0G: #87efe8;
  --plasmic-token-secondary-300: var(--token-RGhlUxqGtS0G);
  --token-yoftQ725fau0: #5feae1;
  --plasmic-token-secondary-400: var(--token-yoftQ725fau0);
  --token-pQFioR-xD3SG: #37e5db;
  --plasmic-token-secondary-500: var(--token-pQFioR-xD3SG);
  --token-hbcLPEM8SH8_: #24bfb5;
  --plasmic-token-secondary-600: var(--token-hbcLPEM8SH8_);
  --token-uZNRtRYIInhz: #15968e;
  --plasmic-token-secondary-700: var(--token-uZNRtRYIInhz);
  --token-HQ1Ud9fJ2-Bt: #096e67;
  --plasmic-token-secondary-800: var(--token-HQ1Ud9fJ2-Bt);
  --token-kH-5avd1VPgx: #014743;
  --plasmic-token-secondary-900: var(--token-kH-5avd1VPgx);
  --token-mElCpSPaK3EA: #d8d8fa;
  --plasmic-token-primary-100: var(--token-mElCpSPaK3EA);
  --token-EfYko_lo-I8t: #b0b1f4;
  --plasmic-token-primary-200: var(--token-EfYko_lo-I8t);
  --token-i99QwBIeT-QW: #898bef;
  --plasmic-token-primary-300: var(--token-i99QwBIeT-QW);
  --token-iJYLOJRQRIyN: #6164e9;
  --plasmic-token-primary-400: var(--token-iJYLOJRQRIyN);
  --token-7boJfMsbsv8b: #3a3de4;
  --plasmic-token-primary-500: var(--token-7boJfMsbsv8b);
  --token-_964XAA5duN3: #2225bf;
  --plasmic-token-primary-600: var(--token-_964XAA5duN3);
  --token-w7znDM57UT-1: #141696;
  --plasmic-token-primary-700: var(--token-w7znDM57UT-1);
  --token-pYNcxrBn5pza: #08096e;
  --plasmic-token-primary-800: var(--token-pYNcxrBn5pza);
  --token-SgzwnwzZahmy: #010347;
  --plasmic-token-primary-900: var(--token-SgzwnwzZahmy);
  --token-HJynvFuevbx5: #f2f3fd;
  --plasmic-token-primary-050: var(--token-HJynvFuevbx5);
  --token-RzuW60Drzaon: #faf6d7;
  --plasmic-token-warning-100: var(--token-RzuW60Drzaon);
  --token-NnHlDAbq9U6J: #f5eeaf;
  --plasmic-token-warning-200: var(--token-NnHlDAbq9U6J);
  --token-ufQmZlkCdB1d: #efe587;
  --plasmic-token-warning-300: var(--token-ufQmZlkCdB1d);
  --token-GUCZXq8L6S_o: #eadd5f;
  --plasmic-token-warning-400: var(--token-GUCZXq8L6S_o);
  --token-b46tWJ97fghD: #e5d437;
  --plasmic-token-warning-500: var(--token-b46tWJ97fghD);
  --token-npJpTVln-IUz: #bfb024;
  --plasmic-token-warning-600: var(--token-npJpTVln-IUz);
  --token-OG2tf7yxzgZF: #998c15;
  --plasmic-token-warning-700: var(--token-OG2tf7yxzgZF);
  --token-_sVNSrdj2mJm: #6e6408;
  --plasmic-token-warning-800: var(--token-_sVNSrdj2mJm);
  --token-qKia-a2n6iKb: #383302;
  --plasmic-token-warning-900: var(--token-qKia-a2n6iKb);
  --token-fiOj326Xzn5D: #fad7d7;
  --plasmic-token-danger-100: var(--token-fiOj326Xzn5D);
  --token-v9deOpqBJAJp: #f18787;
  --plasmic-token-danger-300: var(--token-v9deOpqBJAJp);
  --token-uLjnK8jxntyK: #f6afaf;
  --plasmic-token-danger-200: var(--token-uLjnK8jxntyK);
  --token-V3BVdf5PLYVn: #ed6060;
  --plasmic-token-danger-400: var(--token-V3BVdf5PLYVn);
  --token-M3F5tNqtNNDo: #e83838;
  --plasmic-token-danger-500: var(--token-M3F5tNqtNNDo);
  --token-AF43PSlxUi88: #c22525;
  --plasmic-token-danger-600: var(--token-AF43PSlxUi88);
  --token--YEm6GHVx1uD: #9c1616;
  --plasmic-token-danger-700: var(--token--YEm6GHVx1uD);
  --token-dmrfQKobSvEY: #6b0707;
  --plasmic-token-danger-800: var(--token-dmrfQKobSvEY);
  --token-bG1MjlmS6LHu: #360202;
  --plasmic-token-danger-900: var(--token-bG1MjlmS6LHu);
  --token-zL6dBObaOmwL: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-zL6dBObaOmwL);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-o7vBAYAmBTNI_font-family: "Inter", sans-serif;
  --mixin-o7vBAYAmBTNI_font-size: 14px;
  --mixin-o7vBAYAmBTNI_font-weight: 400;
  --mixin-o7vBAYAmBTNI_font-style: normal;
  --mixin-o7vBAYAmBTNI_color: var(--token-DS13wCBZGUhz);
  --mixin-o7vBAYAmBTNI_text-align: left;
  --mixin-o7vBAYAmBTNI_text-transform: none;
  --mixin-o7vBAYAmBTNI_line-height: 21px;
  --mixin-o7vBAYAmBTNI_letter-spacing: -0.6%;
  --mixin-o7vBAYAmBTNI_white-space: pre-wrap;
  --mixin-o7vBAYAmBTNI_user-select: text;
  --mixin-o7vBAYAmBTNI_text-decoration-line: none;
  --mixin-o7vBAYAmBTNI_text-overflow: clip;
  --mixin-58LX3iZYjQOB_color: var(--token-K2STuEDCkHLn);
  --mixin-58LX3iZYjQOB_font-weight: 600;
  --mixin-58LX3iZYjQOB_font-size: 26px;
  --mixin-58LX3iZYjQOB_line-height: 32px;
  --mixin-58LX3iZYjQOB_letter-spacing: -1%;
  --mixin-58LX3iZYjQOB_white-space: pre-wrap;
  --mixin-b3dyb-dfpPGT_color: var(--token-K2STuEDCkHLn);
  --mixin-b3dyb-dfpPGT_font-size: 23px;
  --mixin-b3dyb-dfpPGT_font-weight: 700;
  --mixin-b3dyb-dfpPGT_line-height: 28px;
  --mixin-b3dyb-dfpPGT_font-family: "Inter", sans-serif;
  --mixin-b3dyb-dfpPGT_letter-spacing: -1%;
  --mixin-b3dyb-dfpPGT_white-space: pre-wrap;
  --mixin-tdKxP91fTvXc_color: #0070f3;
  --mixin-tdKxP91fTvXc_white-space: pre-wrap;
  --mixin-Armm7mWkgf_w_color: var(--token-K2STuEDCkHLn);
  --mixin-Armm7mWkgf_w_font-size: 20px;
  --mixin-Armm7mWkgf_w_font-weight: 700;
  --mixin-Armm7mWkgf_w_line-height: 24px;
  --mixin-Armm7mWkgf_w_letter-spacing: -1%;
  --mixin-Armm7mWkgf_w_font-family: "Inter", sans-serif;
  --mixin-Armm7mWkgf_w_white-space: pre-wrap;
  --mixin-SUYItBS0-nBI_color: var(--token-K2STuEDCkHLn);
  --mixin-SUYItBS0-nBI_font-size: 18px;
  --mixin-SUYItBS0-nBI_font-weight: 700;
  --mixin-SUYItBS0-nBI_line-height: 24px;
  --mixin-SUYItBS0-nBI_letter-spacing: -1%;
  --mixin-SUYItBS0-nBI_font-family: "Inter", sans-serif;
  --mixin-SUYItBS0-nBI_white-space: pre-wrap;
  --mixin-gY2amIpOBbDR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-gY2amIpOBbDR_border-bottom-color: #dddddd;
  --mixin-gY2amIpOBbDR_border-bottom-style: solid;
  --mixin-gY2amIpOBbDR_border-bottom-width: 1px;
  --mixin-gY2amIpOBbDR_border-left-color: #dddddd;
  --mixin-gY2amIpOBbDR_border-left-style: solid;
  --mixin-gY2amIpOBbDR_border-left-width: 1px;
  --mixin-gY2amIpOBbDR_border-right-color: #dddddd;
  --mixin-gY2amIpOBbDR_border-right-style: solid;
  --mixin-gY2amIpOBbDR_border-right-width: 1px;
  --mixin-gY2amIpOBbDR_border-top-color: #dddddd;
  --mixin-gY2amIpOBbDR_border-top-style: solid;
  --mixin-gY2amIpOBbDR_border-top-width: 1px;
  --mixin-gY2amIpOBbDR_border-bottom-left-radius: 3px;
  --mixin-gY2amIpOBbDR_border-bottom-right-radius: 3px;
  --mixin-gY2amIpOBbDR_border-top-left-radius: 3px;
  --mixin-gY2amIpOBbDR_border-top-right-radius: 3px;
  --mixin-gY2amIpOBbDR_font-family: "Inconsolata";
  --mixin-gY2amIpOBbDR_padding-bottom: 1px;
  --mixin-gY2amIpOBbDR_padding-left: 4px;
  --mixin-gY2amIpOBbDR_padding-right: 4px;
  --mixin-gY2amIpOBbDR_padding-top: 1px;
  --mixin-gY2amIpOBbDR_white-space: pre-wrap;
  --mixin-zqCuk5AGMBx3_border-left-color: #dddddd;
  --mixin-zqCuk5AGMBx3_border-left-style: solid;
  --mixin-zqCuk5AGMBx3_border-left-width: 3px;
  --mixin-zqCuk5AGMBx3_color: #888888;
  --mixin-zqCuk5AGMBx3_padding-left: 10px;
  --mixin-zqCuk5AGMBx3_white-space: pre-wrap;
  --mixin-dOR9EWoJFYuN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-dOR9EWoJFYuN_border-bottom-color: #dddddd;
  --mixin-dOR9EWoJFYuN_border-bottom-style: solid;
  --mixin-dOR9EWoJFYuN_border-bottom-width: 1px;
  --mixin-dOR9EWoJFYuN_border-left-color: #dddddd;
  --mixin-dOR9EWoJFYuN_border-left-style: solid;
  --mixin-dOR9EWoJFYuN_border-left-width: 1px;
  --mixin-dOR9EWoJFYuN_border-right-color: #dddddd;
  --mixin-dOR9EWoJFYuN_border-right-style: solid;
  --mixin-dOR9EWoJFYuN_border-right-width: 1px;
  --mixin-dOR9EWoJFYuN_border-top-color: #dddddd;
  --mixin-dOR9EWoJFYuN_border-top-style: solid;
  --mixin-dOR9EWoJFYuN_border-top-width: 1px;
  --mixin-dOR9EWoJFYuN_border-bottom-left-radius: 3px;
  --mixin-dOR9EWoJFYuN_border-bottom-right-radius: 3px;
  --mixin-dOR9EWoJFYuN_border-top-left-radius: 3px;
  --mixin-dOR9EWoJFYuN_border-top-right-radius: 3px;
  --mixin-dOR9EWoJFYuN_font-family: "Inconsolata";
  --mixin-dOR9EWoJFYuN_padding-bottom: 3px;
  --mixin-dOR9EWoJFYuN_padding-left: 6px;
  --mixin-dOR9EWoJFYuN_padding-right: 6px;
  --mixin-dOR9EWoJFYuN_padding-top: 3px;
  --mixin-dOR9EWoJFYuN_white-space: pre-wrap;
  --mixin-d_mO6UI-rrx5_display: flex;
  --mixin-d_mO6UI-rrx5_flex-direction: column;
  --mixin-d_mO6UI-rrx5_align-items: stretch;
  --mixin-d_mO6UI-rrx5_justify-content: flex-start;
  --mixin-d_mO6UI-rrx5_list-style-position: outside;
  --mixin-d_mO6UI-rrx5_padding-left: 40px;
  --mixin-d_mO6UI-rrx5_position: relative;
  --mixin-d_mO6UI-rrx5_list-style-type: disc;
  --mixin-d_mO6UI-rrx5_white-space: pre-wrap;
  --mixin-RqL_hcRtWSeq_display: flex;
  --mixin-RqL_hcRtWSeq_flex-direction: column;
  --mixin-RqL_hcRtWSeq_align-items: stretch;
  --mixin-RqL_hcRtWSeq_justify-content: flex-start;
  --mixin-RqL_hcRtWSeq_list-style-position: outside;
  --mixin-RqL_hcRtWSeq_padding-left: 40px;
  --mixin-RqL_hcRtWSeq_position: relative;
  --mixin-RqL_hcRtWSeq_list-style-type: decimal;
  --mixin-RqL_hcRtWSeq_white-space: pre-wrap;
  --mixin-yYaLV49wZJ9Q_color: var(--token-ratMQeVaAmtW);
  --mixin-yYaLV49wZJ9Q_font-size: 16px;
  --mixin-yYaLV49wZJ9Q_font-weight: 600;
  --mixin-yYaLV49wZJ9Q_line-height: 20px;
  --mixin-yYaLV49wZJ9Q_letter-spacing: -1%;
  --mixin-yYaLV49wZJ9Q_font-family: "Inter", sans-serif;
  --mixin-yYaLV49wZJ9Q_white-space: pre-wrap;
  --mixin-cZMFKgX2lnoz_color: var(--token-K2STuEDCkHLn);
  --mixin-cZMFKgX2lnoz_font-size: 14px;
  --mixin-cZMFKgX2lnoz_font-weight: 600;
  --mixin-cZMFKgX2lnoz_line-height: 20px;
  --mixin-cZMFKgX2lnoz_letter-spacing: 1%;
  --mixin-cZMFKgX2lnoz_font-family: "Inter", sans-serif;
  --mixin-cZMFKgX2lnoz_white-space: pre-wrap;
  --mixin-k7JaokK-EBG9_color: #3291ff;
  --mixin-k7JaokK-EBG9_white-space: pre-wrap;
  --mixin-ZWiY73A3_PiW_white-space: pre-wrap;
  --mixin-Psjfs2tiGxq9_color: var(--token-ZrdRXAdPtUjb);
  --mixin-Psjfs2tiGxq9_font-family: "Inter", sans-serif;
  --mixin-Psjfs2tiGxq9_font-weight: 500;
  --mixin-Psjfs2tiGxq9_font-size: 16px;
  --mixin-Psjfs2tiGxq9_line-height: 24px;
  --mixin-Psjfs2tiGxq9_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-Bh0fv8DYYjWo_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-Bh0fv8DYYjWo_white-space);
  --mixin-fw0pomb8hVzU_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-fw0pomb8hVzU_white-space);
  --mixin-DQb6qwo2DbSt_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-DQb6qwo2DbSt_box-shadow);
  --mixin-DQb6qwo2DbSt_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-DQb6qwo2DbSt_white-space
  );
  --mixin-oP4VRw-iesl7_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-oP4VRw-iesl7_white-space);
  --mixin-cLzmRmCW_Sig_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-cLzmRmCW_Sig_white-space);
  --mixin-XYwOPOd1Q31B_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-XYwOPOd1Q31B_box-shadow
  );
  --mixin-XYwOPOd1Q31B_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-XYwOPOd1Q31B_white-space
  );
  --mixin-p68JAdZz3ZX8_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-p68JAdZz3ZX8_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-o7vBAYAmBTNI_font-family);
  font-size: var(--mixin-o7vBAYAmBTNI_font-size);
  font-weight: var(--mixin-o7vBAYAmBTNI_font-weight);
  font-style: var(--mixin-o7vBAYAmBTNI_font-style);
  color: var(--mixin-o7vBAYAmBTNI_color);
  text-align: var(--mixin-o7vBAYAmBTNI_text-align);
  text-transform: var(--mixin-o7vBAYAmBTNI_text-transform);
  line-height: var(--mixin-o7vBAYAmBTNI_line-height);
  letter-spacing: var(--mixin-o7vBAYAmBTNI_letter-spacing);
  white-space: var(--mixin-o7vBAYAmBTNI_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-58LX3iZYjQOB_color);
  font-weight: var(--mixin-58LX3iZYjQOB_font-weight);
  font-size: var(--mixin-58LX3iZYjQOB_font-size);
  line-height: var(--mixin-58LX3iZYjQOB_line-height);
  letter-spacing: var(--mixin-58LX3iZYjQOB_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-b3dyb-dfpPGT_color);
  font-size: var(--mixin-b3dyb-dfpPGT_font-size);
  font-weight: var(--mixin-b3dyb-dfpPGT_font-weight);
  line-height: var(--mixin-b3dyb-dfpPGT_line-height);
  font-family: var(--mixin-b3dyb-dfpPGT_font-family);
  letter-spacing: var(--mixin-b3dyb-dfpPGT_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-tdKxP91fTvXc_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Armm7mWkgf_w_color);
  font-size: var(--mixin-Armm7mWkgf_w_font-size);
  font-weight: var(--mixin-Armm7mWkgf_w_font-weight);
  line-height: var(--mixin-Armm7mWkgf_w_line-height);
  letter-spacing: var(--mixin-Armm7mWkgf_w_letter-spacing);
  font-family: var(--mixin-Armm7mWkgf_w_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-SUYItBS0-nBI_color);
  font-size: var(--mixin-SUYItBS0-nBI_font-size);
  font-weight: var(--mixin-SUYItBS0-nBI_font-weight);
  line-height: var(--mixin-SUYItBS0-nBI_line-height);
  letter-spacing: var(--mixin-SUYItBS0-nBI_letter-spacing);
  font-family: var(--mixin-SUYItBS0-nBI_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-gY2amIpOBbDR_font-family);
  border-radius: var(--mixin-gY2amIpOBbDR_border-top-left-radius)
    var(--mixin-gY2amIpOBbDR_border-top-right-radius)
    var(--mixin-gY2amIpOBbDR_border-bottom-right-radius)
    var(--mixin-gY2amIpOBbDR_border-bottom-left-radius);
  padding: var(--mixin-gY2amIpOBbDR_padding-top)
    var(--mixin-gY2amIpOBbDR_padding-right)
    var(--mixin-gY2amIpOBbDR_padding-bottom)
    var(--mixin-gY2amIpOBbDR_padding-left);
  border-top: var(--mixin-gY2amIpOBbDR_border-top-width)
    var(--mixin-gY2amIpOBbDR_border-top-style)
    var(--mixin-gY2amIpOBbDR_border-top-color);
  border-right: var(--mixin-gY2amIpOBbDR_border-right-width)
    var(--mixin-gY2amIpOBbDR_border-right-style)
    var(--mixin-gY2amIpOBbDR_border-right-color);
  border-bottom: var(--mixin-gY2amIpOBbDR_border-bottom-width)
    var(--mixin-gY2amIpOBbDR_border-bottom-style)
    var(--mixin-gY2amIpOBbDR_border-bottom-color);
  border-left: var(--mixin-gY2amIpOBbDR_border-left-width)
    var(--mixin-gY2amIpOBbDR_border-left-style)
    var(--mixin-gY2amIpOBbDR_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-zqCuk5AGMBx3_color);
  padding-left: var(--mixin-zqCuk5AGMBx3_padding-left);
  border-left: var(--mixin-zqCuk5AGMBx3_border-left-width)
    var(--mixin-zqCuk5AGMBx3_border-left-style)
    var(--mixin-zqCuk5AGMBx3_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-dOR9EWoJFYuN_font-family);
  border-radius: var(--mixin-dOR9EWoJFYuN_border-top-left-radius)
    var(--mixin-dOR9EWoJFYuN_border-top-right-radius)
    var(--mixin-dOR9EWoJFYuN_border-bottom-right-radius)
    var(--mixin-dOR9EWoJFYuN_border-bottom-left-radius);
  padding: var(--mixin-dOR9EWoJFYuN_padding-top)
    var(--mixin-dOR9EWoJFYuN_padding-right)
    var(--mixin-dOR9EWoJFYuN_padding-bottom)
    var(--mixin-dOR9EWoJFYuN_padding-left);
  border-top: var(--mixin-dOR9EWoJFYuN_border-top-width)
    var(--mixin-dOR9EWoJFYuN_border-top-style)
    var(--mixin-dOR9EWoJFYuN_border-top-color);
  border-right: var(--mixin-dOR9EWoJFYuN_border-right-width)
    var(--mixin-dOR9EWoJFYuN_border-right-style)
    var(--mixin-dOR9EWoJFYuN_border-right-color);
  border-bottom: var(--mixin-dOR9EWoJFYuN_border-bottom-width)
    var(--mixin-dOR9EWoJFYuN_border-bottom-style)
    var(--mixin-dOR9EWoJFYuN_border-bottom-color);
  border-left: var(--mixin-dOR9EWoJFYuN_border-left-width)
    var(--mixin-dOR9EWoJFYuN_border-left-style)
    var(--mixin-dOR9EWoJFYuN_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-d_mO6UI-rrx5_display);
  flex-direction: var(--mixin-d_mO6UI-rrx5_flex-direction);
  align-items: var(--mixin-d_mO6UI-rrx5_align-items);
  justify-content: var(--mixin-d_mO6UI-rrx5_justify-content);
  list-style-position: var(--mixin-d_mO6UI-rrx5_list-style-position);
  padding-left: var(--mixin-d_mO6UI-rrx5_padding-left);
  position: var(--mixin-d_mO6UI-rrx5_position);
  list-style-type: var(--mixin-d_mO6UI-rrx5_list-style-type);
  flex-column-gap: var(--mixin-d_mO6UI-rrx5_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-RqL_hcRtWSeq_display);
  flex-direction: var(--mixin-RqL_hcRtWSeq_flex-direction);
  align-items: var(--mixin-RqL_hcRtWSeq_align-items);
  justify-content: var(--mixin-RqL_hcRtWSeq_justify-content);
  list-style-position: var(--mixin-RqL_hcRtWSeq_list-style-position);
  padding-left: var(--mixin-RqL_hcRtWSeq_padding-left);
  position: var(--mixin-RqL_hcRtWSeq_position);
  list-style-type: var(--mixin-RqL_hcRtWSeq_list-style-type);
  flex-column-gap: var(--mixin-RqL_hcRtWSeq_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-yYaLV49wZJ9Q_color);
  font-size: var(--mixin-yYaLV49wZJ9Q_font-size);
  font-weight: var(--mixin-yYaLV49wZJ9Q_font-weight);
  line-height: var(--mixin-yYaLV49wZJ9Q_line-height);
  letter-spacing: var(--mixin-yYaLV49wZJ9Q_letter-spacing);
  font-family: var(--mixin-yYaLV49wZJ9Q_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-cZMFKgX2lnoz_color);
  font-size: var(--mixin-cZMFKgX2lnoz_font-size);
  font-weight: var(--mixin-cZMFKgX2lnoz_font-weight);
  line-height: var(--mixin-cZMFKgX2lnoz_line-height);
  letter-spacing: var(--mixin-cZMFKgX2lnoz_letter-spacing);
  font-family: var(--mixin-cZMFKgX2lnoz_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-k7JaokK-EBG9_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-Psjfs2tiGxq9_color);
  font-family: var(--mixin-Psjfs2tiGxq9_font-family);
  font-weight: var(--mixin-Psjfs2tiGxq9_font-weight);
  font-size: var(--mixin-Psjfs2tiGxq9_font-size);
  line-height: var(--mixin-Psjfs2tiGxq9_line-height);
}
